* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: 
    linear-gradient(
     rgb(244, 62, 201),
     rgb(67, 7, 187)
    )
}

.card {
    width: 360px;
    height: min-content;
    padding: 40px;
    border-radius: 34px;
    background: #ffffff;
}

.login h3 {
    font-size: 23px;
    margin-bottom: 25px;
}

.login form {
    font-size: 12px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 15px;
    margin-top: 15px;
}

.btn-success {
    color: #fff;
    background-color: #201547;
    border-color: #201547;
}
.custom-shape-divider-bottom-1673369099 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1673369099 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1673369099 .shape-fill {
    fill: #FFFFFF;
}